<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Winification</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-v4.0.11.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="https://cdn.rawgit.com/thedersen/backbone.validation/master/dist/backbone-validation.js"></script>
    <script src="https://cdn.rawgit.com/gmac/backbone.epoxy/master/backbone.epoxy.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link  rel="stylesheet" type="text/css" href="css/styles.css">

    <script src="js/App.js"></script>


    <script src="js/models/wines.js"></script>
    <script src="js/models/session.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/models/wines-collection.js"></script>
    <script src="js/models/bucket-collection.js"></script>

    <script src="js/views/AppView.js"></script>
    <script src="js/views/ItemView.js"></script>
    <script src="js/views/PublicView.js"></script>
    <script src="js/views/BucketView.js"></script>
    <script src="js/views/SignUpView.js"></script>
    <script src="js/views/AccountView.js"></script>

    <script src="js/routes/winification-router.js"></script>

    <script id="header-template" type="text/template">
        <div id="modal"></div>
        <div id="redbar">
            <div class="wrap">
                <ul class="logged-in">
                    <li><a href="/" id="btn-additems">Add new item</a></li>
                    <li class="dropdown-head"><a href="/account" id="btn-account">My Account</a>
                        <div class="dropdown-content">
                            <a href="/myorders" id="btn-myorders">My orders</a>
                            <a id="btn-logout">Sign out</a>
                        </div>
                    </li>
                </ul>

                <ul class="public">
                    <li><a id="login">Sign in</a></li>
                    <li>or</li>
                    <li><a id="signup">Sign up</a></li>
                </ul>

                <ul>
                    <li><span class="badge"><%= itemsLength %></span><a href="/mybucket" id="mybucket">My bucket</a></li>
                </ul>

                <ul class="logo">
                    <li><a href="/" id="btn-home"><img src="images/logo.png" alt="Winification" /></a></li>
                    <li><form id="frm-search"><input name="search" placeholder="Search wines" class="span3" /></form></li>
                </ul>
            </div>
        </div>
    </script>

    <script id="item-template" type="text/template">
        <tr>
            <td>
                <img class="catalog-image" src="<%= model.images.imgurl %>" />
            </td>
            <td>
                <span><%- model.name %></span>
                <span><%- model.description.type %></span>
                <span><%- model.description.country %>, <%- model.description.year %></span>
                <span><%- model.description.desc  %></span>
                <span>$ <%- model.price %></span>
            </td>
            <td>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">-</button>
                    </span>
                    <input type="text" name="quantity" class="quantity-number form-control input-number" value="1" min="1" max="<%= model.availableQuantity %>">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">+</button>
                    </span>
                </div>
                <button class="addToBucket" id="<%- model.name %>">Add to cart</button>
            </td>
        </tr>
    </script>

    <script id="login-template" type="text/template">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="frm-login">
                <fieldset>
                    <div class="modal-body">
                        <div style="float: left; margin-right: 10px">
                            Username<br />
                            <input type="text" id="username" name="username" style="width: 130px" />
                        </div>
                        <div style="float: left; margin-right: 10px">
                            Password<br />
                            <input type="password" id="password" name="password" style="width: 130px" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="float: left">
                            &nbsp;<br />
                            <input type="submit" name="submit" value="Sign in" class="btn small success"  style="width: 60px" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </script>

    <script id="signup-template" type="text/template">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="frm-signup">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" id="firstName" style="width: 130px"/>
                            <span class="help-block hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" id="lastName" style="width: 130px"/>
                            <span class="help-block hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" style="width: 130px" placeholder="email@example.com"/>
                            <span class="help-block hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" style="width: 130px" />
                            <span class="help-block hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" style="width: 130px" />
                            <span class="help-block hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm password</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" style="width: 130px" />
                            <span class="help-block hidden"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="float: left">
                            &nbsp;<br />
                            <input type="submit" name="submit" value="Sign up" class="btn small success"  style="width: 60px" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </script>

    <script id="public-template" type="text/template">
        <table class="catalog">
        </table>
    </script>

    <script id="bucket-template" type="text/template">
        <table class="catalog">
            <tbody>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price per item</th>
            </tr>
            <% _.each(collection, function(element) { %>
            <tr>
                <td>
                    <span><%= element.name + ', ' + element.description.type %></span>
                </td>
                <td>
                    <span><%= element.quantity %></span>
                </td>
                <td>
                    <span><%= element.price %></span>
                </td>
            </tr>
            <% }); %>
            <tr>
                <td colspan="2">Total Sum:</td>
                <td><%= total %></td>
            </tr>
            </tbody>
        </table>
        <input type="button" id="sendOrder" value="Submit order"/>
    </script>

    <script id="account-template" type="text/template">
        <div class="catalog" style="padding-left:20px;">
            <span name="id" hidden><%= model._id %></span>
            <div class="form-group">
                <label for="firstName">First name</label>
                <span name="firstName" class="display-value"> <%= model.firstName %></span>
                <input type="text" name="firstName" value="<%= model.firstName %>" class="edit" hidden/>
                <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <span name="lastName" class="display-value"> <%= model.lastName %></span>
                <input type="text" name="lastName" class="edit" value="<%= model.lastName %>" hidden/>
                <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <span name="phone" class="display-value"> <%= model.phone || 'Not specified' %></span>
                <input type="text" name="phone" class="edit" value="<%= model.phone %>" hidden/>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <span name="country" class="display-value"> <%= model.country || 'Not specified' %></span>
                <input type="text" name="country" value="<%= model.country %>" class="edit" hidden/>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <span name="city" class="display-value"> <%= model.city || 'Not specified' %></span>
                <input type="text" name="city" value="<%= model.city %>" class="edit" hidden/>
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <span name="street" class="display-value"> <%= model.street || 'Not specified' %></span>
                <input type="text" name="street" value="<%= model.street %>" class="edit" hidden/>
            </div>
            <div class="form-group">
                <label for="zip">Zip</label>
                <span name="zip" class="display-value"> <%= model.zip || 'Not specified' %></span>
                <input type="text" name="zip" value="<%= model.zip %>" class="edit" hidden/>
            </div>
            <div class="form-group">
                <input type="button" name="edit" value="Edit information"/>
                <input type="button" name="save" class="edit" value="Save" hidden/>
            </div>
        </div>
    </script>

    <script id="footer-template" type="text/template">
        <div class="wrap">
            <div class="inner">
                Copyright &copy; 2012 <a href="http://www.awio.com">Awio Web Services LLC</a>. All rights reserved.
            </div>
        </div>
    </script>


    <script type="text/javascript">
        $(function() {
            App.initialize();
        });
    </script>

</head>
<body>

<div id="header">
</div>

<div id="app"></div>

<div id="footer"></div>

</body>

</html>