<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Winification</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-v4.0.11.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link  rel="stylesheet" type="text/css" href="css/styles.css">

    <script src="js/App.js"></script>


    <script src="js/models/wines.js"></script>
    <script src="js/models/wines-collection.js"></script>
    <script src="js/models/bucket-collection.js"></script>

    <script src="js/views/AppView.js"></script>
    <script src="js/views/ItemView.js"></script>
    <script src="js/views/PublicView.js"></script>
    <script src="js/views/BucketView.js"></script>

    <script src="js/routes/winification-router.js"></script>
    <!--<script src="/js/backbone-min.js"></script>
    <script src="/js/jquery.masonry.min.js"></script>
    <script src="/js/jquery.tagsinput.min.js"></script>

    <script src="/js/models/Bookmark.js"></script>
    <script src="/js/models/BookmarksCollection.js"></script>
    <script src="/js/models/Tag.js"></script>
    <script src="/js/models/TagsCollection.js"></script>
    <script src="/js/views/PublicView.js"></script>
    <script src="/js/views/AccountView.js"></script>
    <script src="/js/views/EditView.js"></script>
    <script src="/js/views/BookmarkView.js"></script>
    <script src="/js/views/BookmarksView.js"></script>
    <script src="/js/views/TagView.js"></script>
    <script src="/js/views/TagsView.js"></script>
    -->

    <script type="text/javascript">
        $(document).ready(function() {
            App.initialize();
        });
    </script>


    <script id="header-template" type="text/template">
        <div id="redbar">
            <div class="wrap">
                <ul class="logged-in">
                    <li><a href="/" id="btn-additems">Add new item</a></li>
                    <li class="dropdown-head"><a href="/account" id="btn-account">My Account</a>
                        <div class="dropdown-content">
                            <a href="/myorders" id="btn-myorders">My orders</a>
                            <a href="/logout" id="btn-logout">Sign out</a>
                        </div>
                    </li>
                </ul>

                <ul class="public">
                    <li><a href="/login" id="btn-login" data-toggle="modal" data-target="#login1">Sign in</a></li>
                    <li>or</li>
                    <li><a href="/signup" id="btn-signup"  data-toggle="modal" data-target="#signup1">Sign up</a></li>
                </ul>

                <ul>
                    <li><span class="badge"><%= itemsLength %></span><a href="/mybucket" id="btn-mybucket">My bucket</a></li>
                </ul>

                <ul class="logo">
                    <li><a href="/" id="btn-home"><img src="images/logo.png" alt="Winification" /></a></li>
                    <li><form id="frm-search"><input name="search" placeholder="Search wines" class="span3" /></form></li>
                </ul>
            </div>
        </div>
    </script>

    <script id="item-template" type="text/template">
        <tr>
            <td>
                <img class="catalog-image" src="<%= model.images.imgurl %>" />
            </td>
            <td>
                <span><%- model.name %></span>
                <span><%- model.description.type %></span>
                <span><%- model.description.country %>, <%- model.description.year %></span>
                <span><%- model.description.desc  %></span>
                <span>$ <%- model.price %></span>
            </td>
            <td><button class="addToBucket" id="<%- model.name %>">Add to cart</button></td>
        </tr>
    </script>

    <script id="public-template" type="text/template">
        <table class="catalog">
        </table>
    </script>

    <script id="bucket-template" type="text/template">
        <table class="catalog">
            <% _.each(collection, function(element) { %>
                <tr style="max-width: 210px;">
                    <td>
                       <span><%= element.name + ', ' + element.type %></span>
                    </td>
                    <td>
                       <span><%= element.quantity %></span>
                    </td>
                    <td>
                       <span><%= element.price %></span>
                    </td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="2">Total Sum:</td>
                <td><%= total %></td>
            </tr>
        </table>
    </script>

    <script id="footer-template" type="text/template">
        <div class="wrap">
            <div class="inner">
                Copyright &copy; 2012 <a href="http://www.awio.com">Awio Web Services LLC</a>. All rights reserved.
            </div>
        </div>
    </script>

    <script id="account-template" type="text/template">
        <div class="box">
            <h2>Account</h2>
            <div class="wrap">
                <div class="inner">
                    <p>Change your account information</p>
                    <form id="frm-account">
                        <fieldset>
                            E-mail
                            <br />
                            <input type="text" name="email" value="{{email}}" class="span4" />
                            <br /><br /><br />
                            Username
                            <br />
                            <input type="text" name="username" value="{{username}}" class="span4" />
                            <br /><br /><br />
                            Password
                            <br />
                            <input type="password" name="password" value="{{password}}" class="span4" />
                            <br /><br /><br />
                            <input type="submit" name="submit" value="Save Changes" class="btn success" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="box">
            <h2>Import</h2>
            <div class="wrap">
                <div class="inner">
                    <p>Import bookmarks from an HTML file exported by your browser or Delicious</p>
                    <form id="frm-import" enctype="multipart/form-data">
                        <fieldset>
                            Choose File
                            <br /><br />
                            <input type="file" name="file" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script id="bookmark-template" type="text/template">
        <div class="thumb"><a href="{{url}}"><img src="http://173.255.234.43:8080/thumb?url={{thumburl}}" style="width: 228px; height: 160px" /></a></div>
        <div class="title"><a href="{{url}}">{{title}}</a></div>
        <p class="description">{{description}}</p>
        <ul class="tags">
            {{#each tags}}
            <li class="tag">{{this}}</li>
            {{/each}}
        </ul>
        <div class="meta">
            <span class="editdelete"><a href="#" class="edit">edit</a> &middot; <a href="#" class="delete">delete</a></span>
            <span>{{date}}</span>
        </div>
    </script>

    <script id="tag-template" type="text/template">
        <a href="/tag/{{tag}}">{{tag}}</a> x {{count}}
    </script>

    <script id="edit-template" type="text/template">
        <div class="modal">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Edit bookmark</h3>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="clearfix">
                            <label for="url">URL</label>
                            <div class="input">
                                <input name="url" type="text" value="{{url}}" class="span6" />
                            </div>
                        </div><!-- /clearfix -->

                        <div class="clearfix">
                            <label for="title">Title</label>
                            <div class="input">
                                <input name="title" type="text" value="{{title}}" class="span6" />
                            </div>
                        </div><!-- /clearfix -->

                        <div class="clearfix">
                            <label for="description">Description</label>
                            <div class="input">
                                <input name="description" type="text" value="{{description}}" class="span6" />
                            </div>
                        </div><!-- /clearfix -->

                        <div class="clearfix">
                            <label for="tags">Tags</label>
                            <div class="input">
                                <input name="tags" type="text" value="{{tags}}" class="span6" />
                            </div>
                        </div><!-- /clearfix -->

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn cancel">Cancel</button> <button type="submit" class="btn primary save">Save Changes</button>
            </div>
        </div>
    </script>
    <script src="js/jquery-3.2.1.min.js"></script>

</head>
<body>

<div id="header">
</div>

<div id="app"></div>

<div id="footer"></div>

<div id="login1" class="modal-fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="frm-login">
                <fieldset>
                    <div class="modal-body">
                        <div style="float: left; margin-right: 10px">
                            Username<br />
                            <input type="text" name="username" style="width: 130px" />
                        </div>
                        <div style="float: left; margin-right: 10px">
                            Password<br />
                            <input type="password" name="password" style="width: 130px" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="float: left">
                            &nbsp;<br />
                            <input type="submit" name="submit" value="Sign in" class="btn small success"  style="width: 60px" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="signup1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="frm-signup">
                <fieldset>
                    <div class="modal-body">
                        <div style="float: left; margin-right: 10px">
                            Email<br />
                            <input type="text" name="Email" style="width: 130px" />
                        </div>
                        <div style="float: left; margin-right: 10px">
                            Username<br />
                            <input type="text" name="username" style="width: 130px" />
                        </div>
                        <div style="float: left; margin-right: 10px">
                            Password<br />
                            <input type="password" name="password" style="width: 130px" />
                        </div>
                        <div style="float: left; margin-right: 10px">
                            Confirm password<br />
                            <input type="password" name="confirmPassword" style="width: 130px" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="float: left">
                            &nbsp;<br />
                            <input type="submit" name="submit" value="Sign up" class="btn small success"  style="width: 60px" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


</body>

</html>