body {
    background: white;
    text-align: center;
}

#app {
    margin-top: 80px;
}

#red-bar {
    background: #800;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 4px solid #fff;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
    z-index: 10;
}

#red-bar a,
#red-bar img,
#red-bar li {
    color: white;
}

#red-bar .dropdown-content a {
    color: black;
}
#red-bar .logo {
    float: left !important;
}

#red-bar .wrap {
    text-align: left;
    margin: 15px 132px 10px 132px;
}

#red-bar .wrap img {
    margin-top: -10px;
}

#redbar .wrap .logged-in {
    display: none;
}

#red-bar .wrap ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

#red-bar .wrap ul li {
    float: left;
    margin-left: 10px;
}

#modal {
    width: 400px;
    max-width: 400px;
    z-index: 100;
    position: fixed;
    left: 40%;
    margin-top: 30px;
}

.box .wrap {
    width: 420px;
}

.box p {
    font-size: 10pt;
    text-transform: none;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}

.box h2 {
    margin: 0 0 10px 10px;
}

/* Dropdown Button */
.dropdown-head {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-head:hover .dropdown-content {
    display: block;
}

#frm-search {
    margin-bottom: 10px;
    margin-left: 20px;
}
.searchBox {
    border-radius: 4px;
    color: black;
}

.modal-backdrop {
    z-index: 15 !important;
}
.modal-content {
    top: 50px;
    z-index: 20 !important;
}

.catalog-image {
    height: 200px;
    width: 130px;
}

.image-container {
    max-height: 200px;
    max-width: 130px;
    overflow: hidden;
}

.catalog {
    margin: 0 auto;
}

.catalog tr,
.order-list .inner-table tr {
    border: solid;
    border-color: white;
    border-width: 1px 0;
    background-color: #efefef;
}

.catalog td,
.order-list .inner-table td, th {
    padding: .5em 20px;
}

.catalog td ul {
    list-style: none;
    text-align: left;
}

.list-container {
    display: table;
}

.modal-open {
    padding-top: 0 !important;
}

html {
    overflow-y: scroll !important;
}

.form-group {
    padding: 0 10px;
}

.modal-body fieldset {
    margin: 0 auto;
}

.add-item {
    width: 600px;
    text-align: left;
    margin: 0 auto;
}

.bucket {
    width: 600px;
    margin-left: 20px;
    text-align: left;
}

.align-left {
    float: left;
    margin-left: 20px;
}

.inner-table {
    width: 100%;
    text-align: left;
}

.order-list {
    width: 500px;
    margin: 0 auto;
}
.order-list tr {
    border: solid;
    border-color: #4b5257;
    border-width: 1px 0;
}